*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}

body{
    min-height: 100vh;
    background: url();
    background-size:cover;
}
.header{
    background: #fff;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 20;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 180px;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px;
}

.navbar a{
    font-size: 18px;
    color: #010844;
    font-weight: 700;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s;
}

.navbar a:hover{
    text-decoration: underline;
}
.sec{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
    margin-top: 40px;
}

.sec-text h1{
    font: size 50px;
}

.sec-img{
    max-width: 40%;
}
.sec-img img{
    max-width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
}
.about{
    text-align: center;
    padding: 0px 30px;
    margin: 0 100px;
    color: black;
    line-height: 2rem;
}
.about h2{
    font-size: 40px;
    font-weight: 900;
}

.Form-container{
    text-align: center;
    padding:100px 0;
}

.form{
    background: rgb(233,238,232);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="subjet"],

.form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form textarea{
    height: 150px;
}

button{
    background: #9c2323;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    text-align: center;
    font-size:18px;
    padding: 0px;
    border-radius: 10px;
    background: #3b3b3b;
    color: #fff;
}








































