* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.navbar {
    background: #fff;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin: 0 30px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #4A90E2;
}

.hero {
    background: #d4d4d4;
    color: #020075;
    text-align: center;
    padding: 10px 0;
}

.container h1 {
    margin-top: 200px;
    ;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-image img {
    max-width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
}

.about {
    text-align: center;
    padding: 60px 0;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #010844;
}

.services {
    background: #ffffff;
}

.service-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
}


.service-card img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.service-card h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #010844;
}

.service-card p {
    color: #000000;
    margin: 10px 0;
    font-size: 1rem;
}

.service-card:hover h3 {
    color: #4A90E2;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}


.contact {
    text-align: center;
    padding: 60px 0;
}

.contact form {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="subject"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact textarea {
    height: 150px;
}

.contact button {
    background: #010844;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background: #4A90E2;
}

footer {
    text-align: center;
    background: #e9e9e9;
    font-size: 1rem;
}

footer p {
    margin: 10px 0;
}
